body {
  position: relative;
}

#searchField, #bloomSelect {
  width: 164px;
}

div#content {
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}


.topic, .concept, .goal {
  padding: 2% 0;
}

.panel:not(:last-child) {
	margin-bottom: .5%;
}

.panel-body {
  margin-top: 0
}

.topic h1 {
  font-weight: 700;
  color: white;
  width: 100%;
}

h4 {
	color: #3188B0;
}

.concept {
  width: 100%;
}

.concept:not(:last-child) {
	border-bottom: 2px dotted #3188B0;
}

#shortmen {
	display: flex !important;
	flex-flow: row wrap;
	align-items: stretch;
	margin: 10% 0;
}

#shortmen a {
	margin: 1%;
	width: calc(100% / 3 - 2%);
	font-size: 1.5rem;
	text-decoration: none;
	color: #fff;
}

#shortmen a div {
	height: 100%;
}

/* media queries for the display of the navbar, shortmen and form */
@media (max-width: 1800px) {
  nav#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  header{
    margin-top: 30px
  }

  p.mb-5 {
    margin-bottom: 0rem !important;
  }
  
  #shortmen a {
	  width: calc(100% / 2 - 2%);
  }
}

@media (max-width: 480px) {
  #shortmen a {
	  width: 98%;
  }
}

#setting {
	position: absolute;
	right: 0;
}

.concept h2 {
  font-weight: 700;
}

a.collapseLO {
	text-decoration: none;
	color: var(--bs-dark);
}
a.collapseLO:hover {
	text-decoration: underline;
}

a.collapseLO.collapsed::before {
	content: "\00BB  ";
}
a.collapseLO::before {
	content: "\00AB  close ";
}

h3.panel-title {
  margin: 0;
}

h3.panel-title a {
  color: #3A5663;
  text-decoration: none;
}

a.nav-link {
  color: #6c757d
}

a.nav-link:hover {
  color: #495057
}

.nav-pills .nav-link.active {
  background-color: #6c757d
}

.nav-pills .nav-link.active:hover {
  background-color: #495057
}

.panel-heading a::before {
  content: url(icons/caret-up-square.svg);
  float: right;
}

.panel-heading a.collapsed::before {
  content: url(icons/caret-down-square.svg);
  float: right;
}

.panel-heading:hover a::before {
  content: url(icons/caret-up-square-fill.svg);
  float: right;
}

.panel-heading:hover a.collapsed::before {
  content: url(icons/caret-down-square-fill.svg);
  float: right;
}

.panel-heading {
	background-color: #40AFE3;
}

.panel-heading:hover {
  background-color: #26a3de;
}

.goal {
  padding: 2%;
  /*padding-bottom: 20px;
  padding-right: 20px; */
}

.panel-body {
  border: solid 1px var(--bs-gray-400);
  border-top: none;
}

.activity {
  background-color: #1C4D63;
}

.space {
  margin: 20px 0 0 20px
}

.activities {
  margin-left: 20px;
}

.panel-body ul, .panel-body ol {
	padding-left: 0;
}

.assessment ul, ul.bok {
	list-style-type: none;
}

.filter {
  margin-top: 20px
}

.search {
  border: 5px solid transparent;
}

.hide, .hidelink {
  display: none;
}

.stabilo {
  background-color: yellow
}

.bok.short {
	text-align: end;
	float: right;
}

.bok.short li {
	display: inline;
	margin-right: 5px;
}

.bok a::before {
	content: url(icons/box-arrow-up-right.svg);
	margin-right: 4px;
}

a.permalink::before {
	content: url(icons/link-45deg.svg);
	margin-right: 4px;
}

a.permalink.detail::after {
	content: "Permalink";
}

.bok a, .permalink {
	color: #6c757d;
	text-decoration: none;
}

.bok a:hover, .permalink:hover {
	color: #495057;
	text-decoration: underline;
}

.permalink {
	float: right;
}

/* move anchor depending on height of nav-bar and content*/
.anchor {
	visibility: hidden;
	height: 0px !important;
	position: absolute;
	margin: -90px;
}

#settings.anchor {
	margin: -10px;
}

@media (min-width: 1150px) and (max-width: 1800px) {
	.anchor {
		margin: -60px !important;
	}
}

@media (max-width: 650px) {
	.anchor {
		margin: -160px !important;
	}
}

div.ban {
	background-size: cover;
	background-color: #3188B0;
	width: 100%;
	background-position: center center;
	padding: 10% 2% 2% 2%;
	text-shadow: black 0.1em 0.1em 0.2em;
}

div.ban.SDIapplications {
	background-color: #E6455A;
}

div.ban.Standards {
	background-color: #2EABE6;
}

div.ban.Data {
	background-color: #E6DD17;
}

div.ban.LegalEconomicsEthics {
	background-color: #22E6BA;	
}

div.ban.InstitutionalOrganisational {
	background-color: #999417;
}
