div#content{
  margin-bottom: 20px;
}

.topic, .concept, .goal, .assessment {
  padding: 20px 10px 5px 20px;
  margin-bottom: 10px;
}

.topic {
  background-color: #3188B0;
}

.topic h1 {
  font-weight: 700;
  color: white;
}

.concept {
  background-color: #86C9E8;
  color: #3A5663;
  margin-right: 2%
}

@media (min-width: 1200px) {
  .concept {
    width: 48%;
    float: left;
  }
}


@media (min-width: 1950px) {
  .concept {
    width: 31%;
    float: left;
  }
}

.concept h2 {
  font-weight: 700;
}

.goal {
  background-color: #40AFE3;
  ;
}

.activity {
  background-color: #1C4D63;
}

.space {
  margin: 20px 0 0 20px
}

.activities {
  margin-left: 20px;
}

.assessment {
  background-color: #ccc;
}

.filter {
  margin-top: 20px
}

.materials {
  color:
}

.search{
  border: 5px solid transparent
}

.hit{
  border: 5px solid yellow
}

.pale{
  opacity: .3
}

.stabilo{
  background-color: yellow
}
