body {
  position: relative;
}

#searchField, #bloomSelect {
  width: 164px;
}

div#content {
  margin-bottom: 20px;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}

.topic, .concept, .goal, .assessment {
  padding: 20px 10px 5px 20px;
  margin-top: 5px
}

.panel-body {
  margin-top: 0
}

.topic {
  background-color: #3188B0;
  padding-top: 80px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.topic h1 {
  font-weight: 700;
  color: white;
  width: 100%;
}

.concept {
  background-color: #86C9E8;
  color: #3A5663;
  margin-right: 2%;
  width: 98%;
}

/* media queries for the display of the navbar and form */
@media (max-width: 1800px) {
  nav#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  header{
    margin-top: 30px
  }

  p.mb-5 {
    margin-bottom: 0rem !important;
  }
}

/* media queries for the display of the concept boxes */
@media (min-width: 1200px) {
  .concept {
    width: 48%;
  }
}

@media (min-width: 1950px) {
  .concept {
    width: 31%;
  }
}

.concept h2 {
  font-weight: 700;
}

h3.panel-title {
  margin: 0;
}

h3.panel-title a {
  color: #3A5663;
  text-decoration: none;
}

a.nav-link {
  color: #6c757d
}

a.nav-link:hover {
  color: #495057
}

.nav-pills .nav-link.active {
  background-color: #6c757d
}

.nav-pills .nav-link.active:hover {
  background-color: #495057
}

.panel-heading a::before {
  content: url(icons/caret-up-square.svg);
  float: right;
}

.panel-heading a.collapsed::before {
  content: url(icons/caret-down-square.svg);
  float: right;
}

.panel-heading:hover a::before {
  content: url(icons/caret-up-square-fill.svg);
  float: right;
}

.panel-heading:hover a.collapsed::before {
  content: url(icons/caret-down-square-fill.svg);
  float: right;
}

.panel-heading:hover {
  background-color: #26a3de;
}

.goal {
  background-color: #40AFE3;
  padding-bottom: 20px;
  padding-right: 20px;
}

.panel-heading:hover {
  background-color: #26a3de;
}

.activity {
  background-color: #1C4D63;
}

.space {
  margin: 20px 0 0 20px
}

.activities {
  margin-left: 20px;
}

.assessment {
  background-color: #ccc;
}

.filter {
  margin-top: 20px
}

.search {
  border: 5px solid transparent;
  padding-bottom: 10px;
}

.hide, .hidelink {
  display: none;
}

.stabilo {
  background-color: yellow
}
